.item {
  //margin-top: 0.1rem;
  padding: 0 0.5rem;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-areas: "index tile xy g z e u handle";
  grid-template-columns:
    calc(1ch * (var(--idx-chars, 2) + 0.75)) 1.75rem minmax(5rem, 1fr)
    repeat(4, 12%) min-content;
  align-items: center;
  cursor: auto;

  &:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.25);
  }

  .index {
    grid-area: index;
  }
  .tile {
    grid-area: tile;
  }
  .xy {
    grid-area: xy;
  }
  .g {
    grid-area: g;
  }
  .z {
    grid-area: z;
  }
  .e {
    grid-area: e;
  }
  .u {
    grid-area: u;
  }
  //.std{}
  .handle {
    grid-area: handle;
    cursor: grab;
  }
}
