@use "styles/components";
@use "styles/components/toolbar/config";
@use "styles/themes";

.root {
  padding: #{config.$padding-rest};
  white-space: nowrap;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin: #{config.$space-half};
  }
  > wbr {
    display: none;
    margin: 0;
  }
}
._withBG {
  @extend %panel-colors;
}

.separator {
  display: inline-block;
  height: 1.8em;
  border-left: themes.$color-mute solid 0.15rem;
  margin-left: #{config.$padding-rest};
  margin-right: #{config.$padding-rest};
}
