@use "styles/components";
@use "styles/themes";

$pad: 0.2rem;
$space: 0.2rem;
$space-half: calc($space / 2);
$pad-out: $pad - $space-half;

.root {
  padding: $pad-out;
  white-space: nowrap;

  > * {
    display: inline-block;
    vertical-align: middle;
    margin: $space-half;
  }
}
._withBG {
  @extend %panel-colors;
}

.separator {
  display: inline-block;
  height: 1.8em;
  border-left: themes.$color-mute solid 0.15rem;
  margin-left: $pad-out;
  margin-right: $pad-out;
}
