.root {
}

.typeTiles {
  > * {
    grid-column: calc(1 + var(--x));
    grid-row: calc(1 + var(--y));
  }
}

.typeFeedback {
  .cell {
    grid-column: calc(1 + var(--x));
    grid-row: calc(1 + var(--y));

    border: black solid 1px;
    box-shadow: inset 0 0 0 1px #fff;
  }

  &:global(.tool-pen-x3) .cell {
    grid-column-start: max(1, var(--x));
    grid-row-start: max(1, var(--y));
    grid-column-end: calc(3 + var(--x));
    grid-row-end: calc(3 + var(--y));
  }
}
