$color-default: "color-default";
$color-default-bg: "color-default-bg";
$color-default-focus: "color-default-focus";
$color-mute: "color-mute";
$color-mute-bg: "color-mute-bg";
$color-panel-bg: "color-panel-bg";
$color-shadow: "color-shadow";
$color-primary: "color-primary";
$color-primary-bg: "color-primary-bg";
$color-primary-hover: "color-primary-hover";
$color-primary-hover-bg: "color-primary-hover-bg";
$color-primary-active: "color-primary-active";
$color-primary-active-bg: "color-primary-active-bg";
$color-primary-focus: "color-primary-focus";
$color-success: "color-success";
$color-success-bg: "color-success-bg";
$color-success-hover: "color-success-hover";
$color-success-hover-bg: "color-success-hover-bg";
$color-success-active: "color-success-active";
$color-success-active-bg: "color-success-active-bg";
$color-success-focus: "color-success-focus";
$color-warn: "color-warn";
$color-warn-bg: "color-warn-bg";
$color-warn-hover: "color-warn-hover";
$color-warn-hover-bg: "color-warn-hover-bg";
$color-warn-active: "color-warn-active";
$color-warn-active-bg: "color-warn-active-bg";
$color-warn-focus: "color-warn-focus";
$color-danger: "color-danger";
$color-danger-bg: "color-danger-bg";
$color-danger-hover: "color-danger-hover";
$color-danger-hover-bg: "color-danger-hover-bg";
$color-danger-active: "color-danger-active";
$color-danger-active-bg: "color-danger-active-bg";
$color-danger-focus: "color-danger-focus";
