$padding-y: 0.2rem;
$padding-x: 0.2rem;
$font-size: 1rem;
$line-height: 1.25;

$focus-width: 0.25rem;

$border-width: 1px;

$all-extras-x: calc($padding-x * 2 + $border-width * 2);
$actual-height: calc(
  $font-size * $line-height + 2 * ($padding-y + $border-width)
);
