@use "styles/colors/sp";

.confirmSO {
  .options {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: flex-end;
  }
}

.soDialogBody {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.soArea {
  flex: 1 1 100%;
  width: 100%;
  height: auto;
  border: none;
  box-shadow: 0 0 0.5rem 0.3rem #{sp.$color-orange};
}
