@use "styles/colors/sp";
@use "styles/themes";

.root {
  white-space: normal;
}

.btn {
  --btn-pad-x: 0.1rem;
  --btn-pad-y: 0.1rem;
  margin: 0;
  position: static;

  i {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: sp.$color-black;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &._current {
    background-color: themes.$color-warn;
    border-color: themes.$color-warn;
  }
}
