$color-black: #000000;
$color-grey-xdark: #616161;
$color-grey-dark: #717171;
$color-grey: #828282;
$color-grey-light: #929292;
$color-grey-xlight: #b2b2b2;
$color-white: #f3f3f3;
$color-red-light: #e31010;
$color-red-dark: #b20000;
$color-brown: #824100;
$color-orange: #f39241;
$color-yellow: #e3e300;
$color-green-dark: #008251;
$color-green-light: #00b261;
$color-blue-dark: #5151d3;
$color-blue-light: #7192e3;
