.readonly {
  animation: 1s blink-error linear infinite;
}
.pending {
}
.success {
  visibility: hidden;
}
.error {
}

@keyframes blink-error {
  //    .--------.
  //   /          \
  //  '            `--------
  //
  //  --|-------|--|--------
  // 0  10      n n+10      100

  0%,
  80%,
  100% {
    opacity: 0.3;
  }
  10%,
  70% {
    opacity: 1;
  }
}
