@use "styles/mixins";

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-y: auto;
  max-height: 10rem;

  > * {
    @extend %font-family-mono;
    text-align: left;
  }
}
