//@use "styles/components";
//@use "styles/themes";

.root {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-areas:
    "toolbars"
    "body"
    "status";
}

.toolbars {
  grid-area: toolbars;
}
.body {
  grid-area: body;
}
.status {
  grid-area: status;
}
