@use "styles/components";

.root {
  @extend %panel-colors;
  display: grid;
  //grid-gap: 0.5rem;

  //grid-template-columns: auto minmax(10rem, 1fr);
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "tools edit  config"
    "tiles tiles tiles";
  align-items: center;
}

.config {
  grid-area: config;
}

.tools {
  grid-area: tools;
}

.edit {
  grid-area: edit;
}

.tiles {
  grid-area: tiles;
}
