.row2 {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  > * {
    margin: 0.25rem;
  }
}
