@use "../themes";

@function _w($thin: null) {
  @if $thin {
    @return 6px;
  }
  @return 12px;
}

@mixin scrollbar-custom(
  $color-bar,
  $color-track,
  $thin: null,
  $show-track: null
) {
  scrollbar-color: $color-bar $color-track;
  @if $thin {
    scrollbar-width: thin;
  } @else {
    scrollbar-width: auto;
  }

  $width: _w($thin);

  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $color-track;
    border-radius: 0;
  }

  @if $show-track {
    &::-webkit-scrollbar-track {
      background: transparent;
      border: $color-bar solid 1px;

      &:horizontal {
        border-left: none;
        border-right: none;
      }

      &:vertical {
        border-top: none;
        border-bottom: none;
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-bar;
    border-radius: 0;
  }
}

@mixin default-scrollbar($thin: null, $show-track: null) {
  @include scrollbar-custom(
    themes.$color-default,
    themes.$color-default-bg,
    $thin,
    $show-track
  );
}
