@use "styles/colors/sp";

:root {
  --sp-color-black: sp.$color-black;
  --sp-color-grey-xdark: sp.$color-grey-xdark;
  --sp-color-grey-dark: sp.$color-grey-dark;
  --sp-color-grey: sp.$color-grey;
  --sp-color-grey-light: sp.$color-grey-light;
  --sp-color-grey-xlight: sp.$color-grey-xlight;
  --sp-color-white: sp.$color-white;
  --sp-color-red-light: sp.$color-red-light;
  --sp-color-red-dark: sp.$color-red-dark;
  --sp-color-brown: sp.$color-brown;
  --sp-color-orange: sp.$color-orange;
  --sp-color-yellow: sp.$color-yellow;
  --sp-color-green-dark: sp.$color-green-dark;
  --sp-color-green-light: sp.$color-green-light;
  --sp-color-blue-dark: sp.$color-blue-dark;
  --sp-color-blue-light: sp.$color-blue-light;
}

.sp-color-black {
  fill: var(--sp-color-black);
}
.sp-color-grey-xdark {
  fill: var(--sp-color-grey-xdark);
}
.sp-color-grey-dark {
  fill: var(--sp-color-grey-dark);
}
.sp-color-grey {
  fill: var(--sp-color-grey);
}
.sp-color-grey-light {
  fill: var(--sp-color-grey-light);
}
.sp-color-grey-xlight {
  fill: var(--sp-color-grey-xlight);
}
.sp-color-white {
  fill: var(--sp-color-white);
}
.sp-color-red-light {
  fill: var(--sp-color-red-light);
}
.sp-color-red-dark {
  fill: var(--sp-color-red-dark);
}
.sp-color-brown {
  fill: var(--sp-color-brown);
}
.sp-color-orange {
  fill: var(--sp-color-orange);
}
.sp-color-yellow {
  fill: var(--sp-color-yellow);
}
.sp-color-green-dark {
  fill: var(--sp-color-green-dark);
}
.sp-color-green-light {
  fill: var(--sp-color-green-light);
}
.sp-color-blue-dark {
  fill: var(--sp-color-blue-dark);
}
.sp-color-blue-light {
  fill: var(--sp-color-blue-light);
}
